CMakeFiles/
build/
build/*
gs2.dSYM/
hw.dSYM/
gs2
testdev/
CMakeCache.txt
cmake_install.cmake
tmp/
tmp/*
roms/*/*.rom
roms/*/*.bin
roms/*/base.addr
bin
bin/*
lib/
lib/*
disk_images/*
**/*_Output.txt
**/_FileInformation.txt
GSSquared.app/
assets/img
/Makefile
!src/devices/prodos_block/Makefile