CMakeFiles/
build/
build/*
gs2.dSYM/
hw.dSYM/
gs2
testdev/
CMakeCache.txt
**/cmake_install.cmake
cmake_install.cmake
compile_commands.json
**/.venv
tmp/
tmp/*
bin
bin/*
lib/
lib/*
apps/*/Makefile
disk_images/*
**/*_Output.txt
**/_FileInformation.txt
GSSquared.app/
resources/*
/Makefile
!src/devices/prodos_block/Makefile
packages/*
.DS_Store
6502_65C02_functional_tests/*
cfg/
cfg/*
*.AppImage
